body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 2px;
  }
  
  h1 {
    text-align: center;
  }
  
  a {
    display: block;
    margin-bottom: 2%;
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .description {
    width: 70%; /*Define a largura desejada*/
    text-align: left;
    margin-bottom: 4%;
  }

  .description h1 {
    font-size: 2.5vw;
    text-align: left;
  }

  .description h2 {
    font-size: 2vw;
  }

  .description p {
    font-size: 1vw;
    margin-bottom: 2%;
  }

  .links {
    margin-top: 4%;
    text-align: center; /*Adiciona alinhamento central*/
  }

  .links a {
    display: block; /*Altera para o display block para ficarem um abaixo do outro*/
    margin-bottom: 2%;
    padding: 2%; /*Ajusta o preenchimento interno*/
    background-color: #683516;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    width: 70%; /*Define um tamanho padrão para os botões*/
  }

  .links a:hover {
    background-color: #AB725B;
  }

  @media (max-width: 768px) {
    .main-content {
        width: 90%;
        margin: 0 auto;
    }

  .description,
  .links {
    width: 90%;
  }

  .description h1 {
    font-size: 20px;
  }

  .description h2 {
    font-size: 18px;
  }

  .description p {
    font-size: 14px;
  }
}

